@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242, 241, 246);
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}
:root {
    --main: rgb(57, 153, 71);
}
/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--main);
    color: #fff;
}
.nav__logo {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}
.nav__links {
    display: flex;
    column-gap: 20px;
}
.nav__link {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__link:hover {
    color: rgb(200, 237, 206);
}
.nav__authentication {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}
.nav__signin {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__signin:hover {
    color: rgb(200, 237, 206);
}
.nav__signup {
    padding: 6px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease-in;
}
.nav__signup:hover {
    color: rgb(200, 237, 206);
    border: 1.5px solid rgb(200, 237, 206);
}
/* Footer */
.footer {
    padding: 15px;
    background-color: var(--main);
}
.footer__text {
    text-align: center;
    color: #fff;
    font-weight: 500;
}
/* Start (home) page */
.header {
    margin: 25px 0;
}
.header__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: var(--main);
}
.header__text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 14px;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.loader {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px dashed var(--main);
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);  
    }
}