@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242, 241, 246);
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}
:root {
    --main: rgb(57, 153, 71);
}
/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--main);
    color: #fff;
}
.nav__logo {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}
.nav__links {
    display: flex;
    column-gap: 20px;
}
.nav__link {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__link:hover {
    color: rgb(200, 237, 206);
}
.nav__authentication {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}
.nav__signin {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__signin:hover {
    color: rgb(200, 237, 206);
}
.nav__signup {
    padding: 6px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease-in;
}
.nav__signup:hover {
    color: rgb(200, 237, 206);
    border: 1.5px solid rgb(200, 237, 206);
}
/* Footer */
.footer {
    padding: 15px;
    background-color: var(--main);
}
.footer__text {
    text-align: center;
    color: #fff;
    font-weight: 500;
}
/* Start (home) page */
.header {
    margin: 25px 0;
}
.header__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: var(--main);
}
.header__text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 14px;
}
.home__title {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.home__link {
    margin: 10px auto;
    width: 158px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 217px;
}
.login__title {
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.login__input {
    display: block;
    padding: 7px 10px;
    background-color: #c7bdbd;
    border-radius: 6px;
    margin-top: 5px;
    width: 100%;
}
.login__submit {
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    background: var(--main);
    color: rgb(242, 241, 246);
    border: 1.5px solid var(--main);
    border-radius: 6px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.login__submit:active {
    background-color:rgb(39, 131, 53);
    border: 1.5px solid rgb(39, 131, 53);
}
.google-button {
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin-bottom: 12px;
    background: rgb(238, 182, 15);
    color: rgb(242, 241, 246);
    border: 1.5px solid rgb(238, 182, 15);
    border-radius: 6px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.google-button:focus {
    background-color: rgb(214, 164, 13);
    border: 1.5px solid rgb(214, 164, 13);
}
.recipes {
    display: grid;
    grid-template-columns: repeat(3, 395px);
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}
.recipes__heading {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0;
    color: var(--main);
}
.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid #dcd8d8;
    border-radius: 5px;
}
.recipe img {
    width: 395px;
    height: 222px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.recipe__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.recipe__title {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin: 3px;
}
.recipe__description {
    font-size: 14px;
    margin: 3px;
}
.recipe__icons {
    display: flex;
}
.recipe__icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.recipes__filter {
    width: 240px;
}
/* A page for every recipe */
.recipe-item__info {
    display: grid;
    grid-template-columns: 60% 40%;
    column-gap: 10px;
    margin: 25px 45px;
}
.recipe-item__img {
    height: 420px;
}
.recipe-item__img img {
    max-width: 900px;
    max-height: 420px;
    border-radius: 5px;
    object-fit: cover;
}
.recipe-item__heading {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.recipe-item__save {
    display: flex;
    padding: 5px 17px;
    background-color: rgb(255, 198, 30);
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
}
.recipe-item__save:focus {
    background-color: rgb(214, 164, 13);
}
.recipe-item__favorite {
    display: flex;
    padding: 5px 17px;
    background-color: rgb(214, 13, 77);
    border-radius: 5px;
    color: #fff;
    transition: background-color 0.2s ease-in-out;
}
.recipe-item__favorite:focus {
    background-color: rgb(194, 9, 67);
}
.recipe-item__title {
    font-weight: 600;
    font-size: 27px;
    margin-bottom: 6px;
}
.recipe-item__instruction {
    margin-top: 5px;
}
.start-cooking {
    padding: 8px 20px;
    margin: 20px 0;
    background-color: var(--main);
    border: 1.5px solid var(--main);
    border-radius: 5px;
    color: rgb(242, 241, 246);
    transition: all 0.2s ease-out;
}
.start-cooking:active {
    background-color:rgb(39, 131, 53);
    border: 1.5px solid rgb(39, 131, 53);
}
.tracking-container {
    margin-bottom: 20px;
}
.ingredient-tracking {
    display: flex;
    justify-content: start;
    align-items: baseline;
    column-gap: 5px;
}
input:checked + p {
    text-decoration: line-through;
    color:rgb(57, 153, 71);
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.saved {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin: 20px 0;
}
.empty {
    text-align: center;
    margin: 100px 0 280px;
    font-size: 25px;
    font-weight: 600;
}
.item {
    display: flex;
    border: 1px solid #dcd8d8;
}
.item__img {
    min-width: 480px;
    height: 270px;
}
.item__img img {
    width: 480px;
    height: 270px;
    object-fit: cover;
}
.item__heading {
    display: flex;
    justify-content: space-between;
}
.item__text {
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.item__title {
    font-size: 20px;
    font-weight: 600;
    color: var(--main);
}
.item__description {
    font-size: 14px;
    margin-top: 4px;
}
.icon__fav {
    fill: rgb(238, 182, 15);
    cursor: pointer;
}
.icon__fav:active {
    fill: rgb(214, 164, 13);
    transform: scale(1.1);
}
.icon__saved {
    fill: rgb(100,165,252);
    cursor: pointer;
}
.icon__saved:active {
    fill: rgb(74, 149, 247);
    transform: scale(1.1);
}
.custom-select {
    display: block;
    padding: 7px 5px;
    border: 1.5px solid #c7bdbd;
    border-radius: 6px;
    margin-top: 5px;
    width: 237px;
}
.loader {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px dashed var(--main);
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);  
    }
}