@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

html, body {
    font-family: 'Open Sans', sans-serif;
    background-color: rgb(242, 241, 246);
}
.container {
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 20px;
}
:root {
    --main: rgb(57, 153, 71);
}
/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--main);
    color: #fff;
}
.nav__logo {
    font-size: 19px;
    font-weight: 700;
    color: #fff;
}
.nav__links {
    display: flex;
    column-gap: 20px;
}
.nav__link {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__link:hover {
    color: rgb(200, 237, 206);
}
.nav__authentication {
    display: flex;
    column-gap: 15px;
    justify-content: center;
    align-items: center;
}
.nav__signin {
    color: #fff;
    transition: color 0.2s ease-in;
}
.nav__signin:hover {
    color: rgb(200, 237, 206);
}
.nav__signup {
    padding: 6px;
    border: 1.5px solid #fff;
    border-radius: 5px;
    color: #fff;
    transition: all 0.2s ease-in;
}
.nav__signup:hover {
    color: rgb(200, 237, 206);
    border: 1.5px solid rgb(200, 237, 206);
}
/* Footer */
.footer {
    padding: 15px;
    background-color: var(--main);
}
.footer__text {
    text-align: center;
    color: #fff;
    font-weight: 500;
}
/* Start (home) page */
.header {
    margin: 25px 0;
}
.header__title {
    font-size: 38px;
    font-weight: 700;
    text-align: center;
    color: var(--main);
}
.header__text {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.3;
    margin-top: 14px;
}
.home__title {
    text-align: center;
    font-weight: 700;
    font-size: 25px;
}
.home__link {
    margin: 10px auto;
    width: 158px;
}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px auto 217px;
}
.login__title {
    margin: 10px 0;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.login__input {
    display: block;
    padding: 7px 10px;
    background-color: #c7bdbd;
    border-radius: 6px;
    margin-top: 5px;
    width: 100%;
}
.login__submit {
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin: 5px 0;
    background: var(--main);
    color: rgb(242, 241, 246);
    border: 1.5px solid var(--main);
    border-radius: 6px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.login__submit:active {
    background-color:rgb(39, 131, 53);
    border: 1.5px solid rgb(39, 131, 53);
}
.google-button {
    display: block;
    width: 100%;
    padding: 8px 20px;
    margin-bottom: 12px;
    background: rgb(238, 182, 15);
    color: rgb(242, 241, 246);
    border: 1.5px solid rgb(238, 182, 15);
    border-radius: 6px;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.google-button:focus {
    background-color: rgb(214, 164, 13);
    border: 1.5px solid rgb(214, 164, 13);
}
.recipes {
    display: grid;
    grid-template-columns: repeat(3, 395px);
    justify-content: center;
    gap: 15px;
    margin: 25px 0;
}
.recipes__heading {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin: 20px 0;
    color: var(--main);
}
.recipe {
    display: flex;
    flex-direction: column;
    border: 1px solid #dcd8d8;
    border-radius: 5px;
}
.recipe img {
    width: 395px;
    height: 222px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.recipe__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.recipe__title {
    color: #000;
    font-weight: 600;
    font-size: 20px;
    margin: 3px;
}
.recipe__description {
    font-size: 14px;
    margin: 3px;
}
.recipe__icons {
    display: flex;
}
.recipe__icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.recipes__filter {
    width: 240px;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
}
.custom-select {
    display: block;
    padding: 7px 5px;
    border: 1.5px solid #c7bdbd;
    border-radius: 6px;
    margin-top: 5px;
    width: 237px;
}
.loader {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 4px dashed var(--main);
    animation: rotate 2s infinite linear;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);  
    }
}